:root{
    --black       : #333;
    --white       : #fff;
    --c-grey-400  : #ccc;
    --c-grey-500  : #808080;
    --c-accent    : #ad6989;

    /* ------------- Fonts ------------- */
    --ff-main  : 'Roboto', sans-serif;
}