:root{
    --black       : #333;
    --white       : #fff;
    --grey-400    : #ccc;
    --grey        : #808080;
    --softpink    : #ad6989;

    /* Tipografía */
    --ff-main  : 'Roboto', sans-serif;
}