<main class="discography">

    <div class="wrapper">
        <div class="slider">
            <div class="grande" [ngStyle]="{ 'transform' : desplazar() }">
                <div class="grande__panel" *ngFor="let cadaPanel of albums">
                    <div class="slide" *ngFor="let cadaSlide of cadaPanel">
                        <picture>
                            <source type="image/webp" [srcset]=" cadaSlide.srcset ">
                            <img 
                                class="slide__img" 
                                [src]=" cadaSlide.src" 
                                [alt]=" cadaSlide.alt">
                        </picture>
                        <picture>
                            <source type="image/webp" [srcset]=" cadaSlide.webpLogo ">
                            <img 
                                class="slide__logo"
                                [src]=" cadaSlide.logo" 
                                [alt]=" cadaSlide.alt ">   
                        </picture>
                    </div>
                </div>
            </div>

            <ul class="slider__puntos">
                <li 
                    class="slider__punto"
                    *ngFor="let cadaPunto of albums; index as i"
                    (click)="cambiar(i)"
                    [ngClass]="{ 'activo' : posicion === i }">
                </li>
            </ul>
        </div>
    </div>

</main>
