<main class="discography">

    <div class="wrapper">
        <div class="slider">
            <div class="grande" [ngStyle]="{ 'transform' : translate() }">
                <div class="grande__panel" *ngFor="let eachPanel of albums">
                    <div class="slide" *ngFor="let eachSlide of eachPanel">
                        <picture>
                            <source type="image/webp" [srcset]=" eachSlide.srcset ">
                            <img 
                                class="slide__img" 
                                [src]=" eachSlide.src" 
                                [alt]=" eachSlide.alt">
                        </picture>
                        <picture>
                            <source type="image/webp" [srcset]=" eachSlide.webpLogo ">
                            <img 
                                class="slide__logo"
                                [src]=" eachSlide.logo" 
                                [alt]=" eachSlide.alt ">   
                        </picture>
                    </div>
                </div>
            </div>

            <ul class="slider__dots">
                <li 
                    class="slider__dot"
                    *ngFor="let eachDot of albums; index as i"
                    (click)="setPosition(i)"
                    [ngClass]="{ 'active' : position === i }">
                </li>
            </ul>
        </div>
    </div>

</main>
